@tailwind base;
@tailwind components;
@tailwind utilities;


@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";



.prose {
  color: #000000;
  max-width: 100%;
}


.prose h1 {
  font-size: 2rem;
  color: #1C3F3A;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.prose h2 {
  font-size: 2rem;
  color: #1C3F3A;
  margin-bottom: 1.25rem;
  font-weight: 600;
}

.prose h3 {
  font-size: 1.75rem;
  color: #1C3F3A;
  margin-bottom: 1rem;
  font-weight: 500;
}

.prose p {
  font-size: 1.125rem;
  color: #000;
  margin-bottom: 1.5rem;
  line-height: 1.75;
}

.prose ul {
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
  list-style-type: disc;
}

.prose li {
  margin-bottom: 0.75rem;
}

.prose a {
  color: #3182ce;
  text-decoration: underline;
}

.prose a:hover {
  color: #1C3F3A;
}

.prose img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.prose blockquote {
  border-left: 4px solid #3182ce;
  padding-left: 1rem;
  margin-left: 0;
  font-style: italic;
  color: #555;
}





@media (max-width: 640px) {
 
  .prose h1 {
    font-size: 2rem;
  }

  .prose h2 {
    font-size: 1.75rem;
  }

  .prose h3 {
    font-size: 1.5rem;
  }

  .prose p {
    font-size: 1rem;
    margin-bottom: 1.25rem;
  }

  .prose ul {
    padding-left: 1rem;
  }

  .prose li {
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 768px) {
  .prose h1 {
    font-size: 2.25rem;
  }

  .prose h2 {
    font-size: 1.875rem;
  }

  .prose h3 {
    font-size: 1.625rem;
  }

  .prose p {
    font-size: 1.125rem; 
  }

  .prose ul {
    padding-left: 1.25rem;
  }

  .prose img {
    max-width: 90%; 
  }
}

@media (min-width: 1024px) {
  .prose h1 {
    font-size: 2.5rem;
  }

  .prose h2 {
    font-size: 2rem;
  }

  .prose h3 {
    font-size: 1.75rem;
  }

  .prose p {
    font-size: 1.125rem;
  }

  .prose img {
    max-width: 80%;
  }
}

@media (min-width: 1280px) {
  .prose h1 {
    font-size: 2rem;
  }

  .prose h2 {
    font-size: 1.5rem;
  }

  .prose h3 {
    font-size: 2rem;
  }

  .prose p {
    font-size: 1.25rem; 
  }

  .prose img {
    max-width: 70%;
  }
}




@keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes scroll-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .animate-scroll-left {
    animation: scroll-left 30s linear infinite;
  }
  
  .animate-scroll-right {
    animation: scroll-right 30s linear infinite;
  }
  
